
#h1{
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
}
.div1 {
     background-color: darkolivegreen;
     color: grey;
     padding: 10px; 
     display: block;
     text-align: center;
}
.div2{
    background-color:black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}.
.div3{
    background-color: brown;
    color: gray;
    display:flex;
    justify-content: center;
}
form{
    display: block;
    text-align: center;
}
.div4{
    background-color: black;
    color: white;
    display: block;
    text-align: center;
}